body {
    font-family: sans-serif;
    font-size: 16 px;
    min-height: 100vh;
    padding: 20px;
}

.contenedor>* {

    box-shadow: 10px 6px 37px -13px rgba(51, 51, 51, 0.75);
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}

/* diseño inicial: mobile firts*/
.contenedor {
    display: grid;
    gap: 20px;
    grid-template:
        "header" 200px
        "navbar" 50px
        "main" 100px
        "sidebar" 80px
        "footer" 100px;
}

/* cuando el minimo de amcho sea 1024*/
@media(min-width: 1024px) {
    .contenedor {
        grid-template:
            "header navbar" 300px
            "sidebar main" 300px
            "footer ." 100px/
            200px auto;
    }
}

/* Compu laptop*/
@media(min-width: 1440px) {
    .contenedor {
        grid-template:
            "header header sidebar" 100px
            "navbar main sidebar" 300px
            "navbar footer footer" 100px/
            200px auto 200px;
    }
}

.header {
    background: purple;
    grid-area: header;
}

.navbar {
    grid-area: navbar;
    background: blue;
}

.sidebar {
    grid-area: sidebar;
    background: green;
}

.main {
    grid-area: main;
    background: yellow;
}

.footer {
    grid-area: footer;
    background: red;
}