html {
    /* Para que no tome enm cuenta los bordes d ela caja */
    box-sizing: border-box;
}

body {
    background-color: bisque;
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0px auto;
    width: 1024px;
}

header {
    position: fixed;
    left: 0px;
    top: 0px;
}

button {
    background: green;
    border: none;
    color: white;
    padding: 20px 10px;
}

.lista-personas {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

}

.tarjeta {

    border: 1px dashed gray;
    border-radius: 10px;
    display: flex;
    flex-flow: column wrap;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 0pc auto;
    margin-top: 40px;
    padding: 0px;
    width: 200px;
}

#direccion,
#telefono {
    background: lightgray;
}

#foto {
    border-radius: 50px;
    width: 100px;
}

#nombre,
#direccion,
#telefono {
    font-weight: bold;
}